@import "../../../styles/globalsContacts";

.handle-new-group {
  --dimm: 50px;
  --bgColor: #206ea0;
  --boxShadow: #66b4e6;
  --position: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: var(--position);
  left: calc(30% - (var(--dimm) + var(--position)));
  width: var(--dimm);
  height: var(--dimm);
  background-color: var(--bgColor);
  border-radius: 50%;
  z-index: 30;

  &:after {
    @include hoverBoxShadow(50%, 150ms);
    box-shadow: 0px 0px 3px 1px var(--boxShadow);
    z-index: -1;
  }
  &:hover:after {
    opacity: 1;
  }

  @include mediaMaxW(#{$mobileViewPort}) {
    left: calc(100% - (var(--dimm) + var(--position)));
  }

  button {
    @include buttonRemoveDefaults;
    background-image: url("../../../../../../assets/images/icons/group-chat-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(var(--dimm) * 0.7);
    height: calc(var(--dimm) * 0.7);
    cursor: pointer;
  }
}
