@import "../../../../../styles/globalsContacts";

.members-menu--new-members {
  .contacts-search__search {
    margin-top: 20px;
  }

  .handle-new-members {
    left: initial;
    right: 20px;
  }
}
