@import "../../../styles/globals";

$maxContainerWidth: 1000px;

$seasonInfoBgClr: #1d1d1d96;
$seasonInfoBgClrHover: #252525;

$colors: (
  title: getColor(orangeClr, $mainPalette),
  infoValue: #fff,
  infoOption: #ffffffb3,
  description: #dedede,
  seasonInfo: #fff,
  similarContentTitle: #dedede
);

$font-sizes: (
  title: 2.5rem,
  infoValue: 1.3rem,
  infoOption: 1.2rem,
  movieLinks: 1.3rem,
  description: 1rem,
  seasonInfo: 1.3rem,
  episodeInfo: 1rem
);

.detailes-page-container {
  max-width: $maxContainerWidth;
  width: 100%;
  padding-bottom: 100px;
  @include mediaMaxW($maxContainerWidth) {
    padding: 0px 15px 100px 15px;
  }
  @include mediaMaxW(#{$mobileViewPort}) {
    padding: 0px 15px 100px 15px;
  }
}

.detailes-page {
  display: grid;
  grid-template-columns: 0.8fr 2fr;
  grid-auto-rows: max-content;
  grid-gap: 40px;
  padding-top: 50px;
  @include mediaMaxW(#{$mobileViewPort}) {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  &__error {
    text-align: center;
    color: getColor(orangeClr, $mainPalette);
  }

  &__poster {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    height: 100%;
    box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 1);
    @include mediaMaxW(#{$mobileViewPort}) {
      display: none;
    }
    &--mobile {
      display: none;
      @include mediaMaxW(#{$mobileViewPort}) {
        display: inherit;
        justify-self: center;
        width: 100%;
        max-width: 400px;
        height: 200px;
      }
    }

    &-wrapper {
      display: grid;
      grid-template-rows: 1fr;
      row-gap: 5px;
    }
    &--movie {
      grid-template-rows: 90% 10%;
    }
  }
  &__movie-links {
    position: relative;
    font-size: map-get($font-sizes, movieLinks);
    z-index: 1;
    .loader--small-pink {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      left: 0;
      right: 0;
      height: 58px;
      transform: translate(0, 0);
      .loader-shadow {
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  &__info {
    &-title {
      padding-bottom: 30px;
      font-size: map-get($font-sizes, title);
      color: map-get($colors, title);
      @include mediaMaxW(430px) {
        font-size: 2rem;
      }

      span {
        padding-left: 5px;
        font-size: map-get($font-sizes, title) * 0.6;
        color: #fff;
      }
    }
    &-row {
      display: grid;
      grid-template-columns: 30% 70%;
      grid-template-rows: minmax(45px, max-content);
      column-gap: 5px;
      align-items: center;
      border-bottom: 1px solid #86868647;
      padding: 3px 0 3px 0;
      &:last-child {
        border: none;
      }
    }
    &-option {
      color: map-get($colors, infoOption);
      font-size: map-get($font-sizes, infoOption);
    }
    &-value {
      color: map-get($colors, infoValue);
      font-size: map-get($font-sizes, infoValue);
    }
    &-no-info {
      color: map-get($colors, infoOption);
    }
    &--button {
      grid-template-columns: 1fr;
      padding-top: 5px;
      padding-bottom: 0;

      .button {
        @include mediaMaxW(500px) {
          font-size: 1rem;
        }
      }
    }
    &-imdb {
      display: block;
      background-image: url("../../../assets/images/icons/imdb-logo.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 78px;
      height: 39px;
    }
  }

  &__description,
  &__admin-message,
  &__admin-message--german {
    grid-column: 1 / 3;
    line-height: 26px;
    font-size: map-get($font-sizes, description);
    color: map-get($colors, description);
    @include mediaMaxW(#{$mobileViewPort}) {
      grid-column: inherit;
    }
  }
  &__admin-message,
  &__admin-message--german {
    font-size: 0.9rem;
    color: #de9c9c;
  }

  &__admin-message--german {
    margin-top: -30px;

    @include mediaMaxW(#{$mobileViewPort}) {
      margin-top: initial;
    }

    .toggle-german {
      position: relative;
      background-color: rgba(29, 29, 29, 0.59);
      height: 40px;
      padding: 5px;
      cursor: pointer;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #252525;
        opacity: 0;
        transition: 0.2s;
        z-index: -1;
      }
      &:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 18px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: #ffffff transparent transparent transparent;
        z-index: -1;
      }

      &:hover:before {
        opacity: 1;
      }
    }
  }

  &__seasons-and-episodes {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 1fr;
    row-gap: 10px;
    grid-auto-rows: minmax(50px, max-content);
    @include mediaMaxW(#{$mobileViewPort}) {
      grid-column: inherit;
    }
  }

  &__check-season-episodes {
    margin-top: 10px;
    @include mediaMaxW(#{$mobileViewPort}) {
      margin-top: 0px;
    }
  }

  &__season {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
    row-gap: 10px;
    @include mediaMaxW(#{$mobileViewPort}) {
      grid-template-columns: 1fr;
    }

    &:last-child {
      border-bottom: none;
    }

    &-poster {
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 364px;
      border-radius: 5px;
      @include mediaMaxW(#{$mobileViewPort}) {
        display: none;
      }
    }
    &--no-poster {
      grid-template-columns: 1fr;
      column-gap: 0px;
    }
    &-info {
      position: relative;
      display: flex;
      justify-content: space-between;
      grid-column: 1 / 3;
      height: 50px;
      background-color: $seasonInfoBgClr;
      font-size: map-get($font-sizes, seasonInfo);
      color: map-get($colors, seasonInfo);
      cursor: pointer;
      @include mediaMaxW(#{$mobileViewPort}) {
        grid-column: inherit;
      }
      &--open {
        &:after {
          transform: scale(-1);
        }
        &:before {
          opacity: 1;
        }
      }
      &:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 18px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: #ffffff transparent transparent transparent;
        z-index: -1;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $seasonInfoBgClrHover;
        opacity: 0;
        transition: 0.2s;
        z-index: -1;
      }

      &:hover:before {
        opacity: 1;
      }
    }
    &-number {
      padding: 10px;
    }
    &-when-new-season {
      padding-left: 50px;
    }
    &-date {
      padding: 10px 35px 10px 10px;
    }
    .loader--small-pink {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -50%);
      animation-delay: 0.25s;
      .loader-shadow {
        top: 50%;
        transform: translate(-50%, -50%);
        div {
          @include mediaMaxW(#{$mobileViewPort}) {
            width: 18px;
            height: 18px;
          }
        }
      }
      .loader-dots {
        div {
          @include mediaMaxW(#{$mobileViewPort}) {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }
  &__episodes-list {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 5px;
    &--loading {
      grid-column: 1 / 3;
      @include mediaMaxW(#{$mobileViewPort}) {
        grid-column: inherit;
      }
    }
  }
  &__episode {
    position: relative;
    font-size: map-get($font-sizes, episodeInfo);
    color: map-get($colors, seasonInfo);
    &:after {
      content: "";
      position: absolute;
      right: 10px;
      top: 18px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 6px 0 6px;
      border-color: #ffffff transparent transparent transparent;
      z-index: -1;
    }

    &--open {
      &:after {
        transform: scale(-1);
      }
      &:before {
        opacity: 1;
      }
    }
    @include mediaMaxW(#{$mobileViewPort}) {
      grid-column-gap: 5px;
      grid-template-columns: 7fr 7fr 6fr;
    }
    @include mediaMaxW(#{$mobileViewPort}) {
      font-size: 0.9rem;
    }
    &-wrapper {
      position: relative;
      display: grid;
      grid-column: 1 / 4;
      column-gap: 8px;
      grid-template-columns: minmax(100px, 1.35fr) 3fr 0.8fr;
      grid-template-rows: minmax(34px, max-content);
      padding: 3px 0 3px 0;
      background-color: $seasonInfoBgClr;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $seasonInfoBgClrHover;
        opacity: 0;
        transition: 0.2s;
        z-index: -1;
      }

      &:hover:before {
        opacity: 1;
      }
    }

    &-date {
      padding-left: 33px;
      align-self: center;
    }
    &-name {
      align-self: center;
    }
    &-number {
      padding-right: 7px;
    }
    &-when-new-episode {
      align-self: center;
      justify-self: end;
      padding-right: 30px;
      @include mediaMaxW(#{$mobileViewPort}) {
        text-align: center;
      }
    }
    &--loading {
      &:after {
        display: none;
      }
    }
    &-detailes {
      display: grid;
      grid-template-columns: 11fr 39fr;
      column-gap: 10px;
      grid-column: 1 / 4;

      &--no-image {
        grid-template-columns: 1fr;
      }

      &-image {
        grid-row: 1 / 3;
        min-height: 90px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        margin: 10px 0 10px 0;
      }

      &-overview {
        padding: 10px 0 10px 0;
      }
    }
  }
  &__slider {
    grid-column: 1 / 3;
    overflow: hidden;
    @include mediaMaxW(#{$mobileViewPort}) {
      grid-column: inherit;
    }
    &-title {
      padding: 10px 5px 10px 10px;
      font-size: 1.6rem;
      color: map-get($colors, similarContentTitle);
    }
  }
}
