@import "../../../styles/mixins";

.search {
  display: flex;
  align-items: center;
  width: 600px;
  padding: 15px;
  z-index: 1;
  @include mediaMaxW(700px) {
    width: 100%;
  }

  &__cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
}
