@import "../../../styles/globals";

$gridGap: 10px;

$font-sizes: (
  year: 1rem,
  rating: 1.3rem,
  vote-count: 0.6rem,
  genres: 0.7rem,
  show-links-button: 1.35rem,
  top-button: 1rem,
  last-episode: 1.2rem,
  error: 1.5rem
);

.content-results {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  width: 100%;
  min-width: 350px;
  padding-bottom: 100px;
  @include mediaMaxW(1450px) {
    padding: 0 38px 100px 38px;
  }
  @include mediaMaxW(850px) {
    padding: 0 8px 100px 8px;
  }
  @include mediaMaxW(400px) {
    min-width: 300px;
  }

  &--adv-search {
    .placeholder--no-results {
      position: static;
      color: getColor(orangeClr, $mainPalette);
      background-color: inherit;
    }
  }
  &__button-top {
    display: flex;
    justify-content: center;
    margin: 10px 0 10px 0;

    .button {
      max-width: 200px;
      font-size: map-get($font-sizes, top-button);
      background-color: getColor(blueClr, $mainPalette);
    }
  }
}

.content-results__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, max-content);
  grid-gap: $gridGap;
  justify-content: center;
}

.content-results__item {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: #171717;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.884);
  opacity: 0;
  animation: showMovieCardAdvanced 0.3s forwards;
  @keyframes showMovieCardAdvanced {
    to {
      opacity: 1;
    }
  }
  &:after {
    @include hoverBoxShadow(0px, 0.2s);
    z-index: -9999;
    box-shadow: 0px 0px 6px 1px #66b4e6;
    @include mediaMaxW(1000px) {
      display: none;
    }
  }
  &:hover:after {
    opacity: 1;
  }

  &-main-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 15px 0px 15px;
  }

  &-title {
    text-align: center;
    font: {
      size: 1.6rem;
      weight: 600;
    }
    grid-column: 1 / -1;
    color: rgb(247, 247, 247);
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  &-year {
    text-align: center;
    font-size: map-get($font-sizes, year);
    color: rgb(224, 224, 224);
  }

  &-rating {
    text-align: center;
    font-size: map-get($font-sizes, rating);
    color: rgb(247, 247, 247);
    &-vote-count {
      margin-left: 2px;
      font-size: map-get($font-sizes, vote-count);
      color: rgb(218, 218, 218);
    }
    span:first-child {
      font-size: map-get($font-sizes, rating) * 0.6;
      color: rgb(177, 177, 177);
    }
  }
  &-genres {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
    font-size: map-get($font-sizes, genres);
    color: rgb(218, 218, 218);
  }
  &-overview {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 100%;
    grid-template-rows: minmax(150px, max-content);
    margin-bottom: 10px;
  }
  &-poster {
    display: flex;
    justify-content: center;
    div {
      width: 85%;
      border-radius: 2px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center top;
    }
  }
  &-description {
    color: rgb(230, 230, 230);
    padding: 0 15px 0 15px;
    line-height: 20px;
  }
  &-links {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 75px;
    padding: 0 15px 10px 15px;
    margin-top: auto;

    &--adv-search {
      height: 60px;
    }

    .button {
      width: 100%;
      height: 100%;
      align-self: center;
      font-size: map-get($font-sizes, show-links-button);
      margin: 0;
    }

    .loader--small-pink {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      animation-delay: 0.15s;
      .loader-dots,
      .loader-shadow {
        div {
          width: 25px;
          height: 25px;
        }
      }
    }

    &--error {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: getColor(orangeClr, $mainPalette);
      font-size: map-get($font-sizes, error);
    }

    &-wrapper {
      opacity: 0;
      animation: 0.4s showLinks forwards;
      @keyframes showLinks {
        to {
          opacity: 1;
        }
      }
    }

    &-episode {
      text-align: center;
      color: #e3e3e3;
      font-size: map-get($font-sizes, last-episode);
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .button--del-item {
    @include buttonCross;
    top: 3px;
    right: 3px;
    transform: translate(0, 0);
    width: 20px;
    height: 20px;
    opacity: 1;
    animation: inherit;
    &:after,
    &:before {
      height: 5px;
    }
  }
}
