.movie-results-cont {
  display: flex;
  display: grid;
  grid-template-columns: 66.66% 33.34%;
  grid-gap: 10px;
  min-height: 400px;
  width: 80%;
  max-width: 1350px;
  @media only screen and (max-width: 850px) {
    width: 95%;
    grid-template-columns: 100%;
  }
}

.movie-results {
  &__button {
    background-color: peru;
    line-height: 40px;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
    border: 0;
    margin-top: auto;
    margin-bottom: 2px;
    cursor: pointer;
    outline: 0;
    font: {
      size: 1.3rem;
      weight: 600;
    }
    color: rgb(255, 255, 255);
    &:hover {
      box-shadow: 0 0 4px 0px rgb(236, 179, 121);
      transition: 0.2s;
    }
    &--advanced {
      width: 80%;
      margin-top: auto;
      margin-bottom: 12px;
      align-self: center;
    }
    &--movielist {
      width: 100%;
    }
    &-pressed {
      opacity: 0.7;
    }
  }

  &-loader {
    position: relative;
    margin-top: 50px;
    opacity: 0;
    grid-column: 1 / -1;
    animation: show 0.4s 0.4s forwards;
    @keyframes show {
      to {
        opacity: 1;
      }
    }
    &-dots {
      position: relative;
      display: flex;
      justify-content: center;

      div {
        margin: 0 8px 0 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgb(49, 46, 43);
        animation: loader 0.5s infinite alternate;
        @keyframes loader {
          from {
            transform: scale(1);
          }
          to {
            transform: scale(1.2);
          }
        }
        &:nth-child(2) {
          animation-delay: 0.15s;
        }
        &:nth-child(3) {
          animation-delay: 0.225s;
        }
      }
    }
    &-shadow {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);

      div {
        margin: 0 8px 0 8px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: scale(0.7);
        animation: shadowAnim 0.5s infinite alternate;
        box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.651);
        @keyframes shadowAnim {
          from {
            transform: scale(0.7);
          }
          to {
            transform: scale(1);
          }
        }

        &:nth-child(2) {
          animation-delay: 0.15s;
        }
        &:nth-child(3) {
          animation-delay: 0.225s;
        }
      }
    }
  }
}

.movie-results__name {
  text-align: center;
  color: #333;
  grid-column: 1 / -1;
}
