@import "../../../../styles/globals";

.search__input-cont {
  position: relative;
  display: flex;
  width: 100%;
}

.search__input {
  padding-left: 10px;
  padding-right: 45px;
  display: flex;
  height: 50px;
  width: 100%;
  border: 0;
  outline: none;
  background-color: #131313;
  font: {
    size: 2rem;
  }
  color: getColor(textColor, $inputPalette);

  &--with-actors {
    padding-left: 40px;
  }
}

.search__media-type {
  position: relative;
  background-color: #131313;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 3px 13px;
  @include mediaMaxW(560px) {
    background-position: 15px 13px;
  }
  &--is-open {
    &:after {
      transform: scale(-1);
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 21px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #ffffff transparent transparent transparent;
    z-index: -1;
  }

  &:before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 70%;
    transform: translate(0, 15%);
    background-color: #ffffff3b;
  }
}

.media-type__button {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 5px 12px 5px 45px;
  text-align: left;
  font-size: 1.5rem;
  background-color: transparent;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.media-type__selected-value {
  text-align: left;
  width: 100%;
  height: 50px;
  padding-right: 30px;
  padding-left: 40px;

  span {
    @include mediaMaxW(560px) {
      display: none;
    }
  }
}

.media-type__options {
  position: absolute;
  left: 0;
  top: 50px;
  width: 145px;
  background-color: #333131;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.media-type__list {
  list-style-type: none;
}

.media-type__item {
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 8px 7px;
  transition: 0.2s;
  &:hover {
    background-color: #525252;
  }
  &--selected {
    button {
      color: #e2b616;
    }
  }
  &:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    .media-type__button {
      padding-bottom: 10px;
    }
  }
  &:first-child {
    .media-type__button {
      padding-top: 10px;
    }
  }
}

.search__input::placeholder {
  opacity: 1;
  color: getColor(placeholderColor, $inputPalette);
}

.search__search-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 30px;
  height: 30px;
  color: getColor(textColor, $inputPalette);
}

.button--input-clear {
  @include buttonCross;
}
