@import "../globals";

.button {
  position: relative;
  background-color: getColor(bgColor, $btnPalette);
  line-height: 40px;
  letter-spacing: 1px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  margin-top: auto;
  cursor: pointer;
  outline: 0;
  font: {
    size: 1.3rem;
    weight: 600;
  }
  color: getColor(textColor, $btnPalette);
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 0;
    transition: 0.3s;
    background-color: getColor(hoverEffectBgColor, $btnPalette);
    z-index: -1;
    @include mediaMaxW(1000px) {
      display: none;
    }
  }
  &:before {
    left: initial;
    right: 0;
    top: 0;
  }
  &:hover:after {
    transform: translate(-3px, 3px);
  }
  &:hover:before {
    transform: translate(3px, -3px);
  }
}

.button--form-auth {
  margin: 10px 0 10px 0;
  transition: 0.2s;

  &:before,
  &:after {
    display: none;
  }
  &:hover {
    background-color: #e89340;
  }
}

.button--disabled {
  background-color: rgba(205, 133, 63, 0.7);
  &:hover {
    background-color: rgba(205, 133, 63, 0.7);
  }
}

.button--pressed {
  background-color: getColor(pressedBgColor, $btnPalette);
  transition: 0.5s;
  &:after,
  &:before {
    top: 0;
  }
  &:before {
    top: 50%;
  }
  &:hover:after {
    transform: translate(-3px, -3px);
  }
  &:hover:before {
    transform: translate(3px, 3px);
  }
}
