@import "../globals";

.button {
  position: relative;
  background-color: getColor(bgColor, $btnPalette);
  line-height: 40px;
  height: 40px;
  letter-spacing: 1px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  margin-top: auto;
  cursor: pointer;
  outline: 0;
  font: {
    size: 1.3rem;
    weight: 600;
  }
  color: getColor(textColor, $btnPalette);
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 0;
    transition: 0.3s;
    background-color: getColor(hoverEffectBgColor, $btnPalette);
    z-index: -1;
    @include mediaMaxW(#{$mobileViewPort}) {
      display: none;
    }
  }
  &:before {
    left: initial;
    right: 0;
    top: 0;
  }
  &:hover:after {
    transform: translate(-3px, 3px);
  }
  &:hover:before {
    transform: translate(3px, -3px);
  }
}

.button--auth__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 10px 0 10px 0;
  border-radius: 5px;
  transition: 0.2s;

  &:before,
  &:after {
    display: none;
  }
  &:hover {
    background-color: #e89340;
  }
}

.button--disabled {
  background-color: rgba(205, 133, 63, 0.7);
  &:hover {
    background-color: rgba(205, 133, 63, 0.7);
  }
}

.button--pressed {
  background-color: getColor(pressedBgColor, $btnPalette);
  /// transition: 0.5s;
  &:after,
  &:before {
    top: 0;
  }
  &:before {
    top: 50%;
  }
  &:hover:after {
    transform: translate(-3px, -3px);
  }
  &:hover:before {
    transform: translate(3px, 3px);
  }
}

.button--sortby-shows {
  background-color: transparent;

  &:before {
    display: none;
  }
  &:after {
    top: 100%;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    transition: 0.15s;
    opacity: 0;
    background-color: getColor(blueClr, $mainPalette);
  }
  &:hover:after {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.button--not-logged-in {
  background-color: #5f442a;
  color: #ffffff7a;

  &:after,
  &:before {
    display: none;
  }
}

.button--search-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons__row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 5px;

  &--shows-page {
    padding-bottom: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  @include mediaMaxW(#{$mobileViewPort}) {
    padding-bottom: 15px;
  }

  @include mediaMaxW(#{$mobileViewPort}) {
    grid-template-columns: 1fr;
    row-gap: 5px;
  }
}

.buttons__col {
  position: relative;

  &-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
  }

  &-warning {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    padding: 5px;
    text-align: center;
    font-size: 0.9rem;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    animation: showNotAuthWarning 0.5s forwards;
    @keyframes showNotAuthWarning {
      to {
        opacity: 1;
      }
    }

    &:after {
      $dimensions: 10px;
      content: "";
      position: absolute;
      top: -$dimensions / 2;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: $dimensions;
      height: $dimensions;
      background-color: #fff;
    }
  }
}
