.loader {
  position: relative;
  opacity: 0;
  animation: show 0.4s 0.4s forwards;
  @keyframes show {
    to {
      opacity: 1;
    }
  }
  &-dots {
    position: relative;
    display: flex;
    justify-content: center;

    div {
      margin: 0 8px 0 8px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgb(49, 46, 43);
      animation: loader 0.5s infinite alternate;
      @keyframes loader {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.2);
        }
      }
      &:nth-child(2) {
        animation-delay: 0.15s;
      }
      &:nth-child(3) {
        animation-delay: 0.225s;
      }
    }
  }
  &-shadow {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    div {
      margin: 0 8px 0 8px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transform: scale(0.7);
      animation: shadowAnim 0.5s infinite alternate;
      box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.651);
      @keyframes shadowAnim {
        from {
          transform: scale(0.7);
        }
        to {
          transform: scale(1);
        }
      }

      &:nth-child(2) {
        animation-delay: 0.15s;
      }
      &:nth-child(3) {
        animation-delay: 0.225s;
      }
    }
  }
}

.loader--new-page {
  grid-column: 1 / -1;
  margin-top: 25px;
  animation-delay: 0.2s;
}

.loader--pink {
  animation-delay: 0s;
  .loader-dots {
    div {
      background-color: #fff;
    }
  }
  .loader-shadow {
    div {
      box-shadow: 0px 0px 15px 3px rgb(238, 54, 106);
    }
  }
}

.loader--small-pink {
  position: absolute;
  top: 16px;
  right: 60px;
  margin: 0;
  .loader-dots {
    div {
      margin: 0 3px 0 3px;
      width: 15px;
      height: 15px;
      background-color: #fff;
    }
  }
  .loader-shadow {
    div {
      margin: 0 3px 0 3px;
      width: 15px;
      height: 15px;
      box-shadow: 0px 0px 15px 3px rgb(238, 54, 106);
    }
  }
}
