@import "../globals";
@import "./buttons";
@import "./placeholders";
@import "./loaders";

.logo {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  &__img {
    width: 85%;
  }
}

.logo--footer {
  margin: 0;

  .logo__img {
    max-width: 400px;
  }
}

.no-selected-content {
  color: peru;
}

.torrent-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  grid-column-gap: 5px;
  justify-content: space-around;
  padding-top: 5px;

  * {
    position: relative;
    text-align: center;
    padding: 15px 10px 15px 10px;
    background-color: peru;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    &:after,
    &:before {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 0;
      transition: 0.3s;
      background-color: #fff;
      z-index: -1;
      @include mediaMaxW(1000px) {
        display: none;
      }
    }
    &:before {
      left: initial;
      right: 0;
      top: 0;
    }
    &:hover:after {
      transform: translate(-3px, 3px);
    }
    &:hover:before {
      transform: translate(3px, -3px);
    }
  }

  &--content-results {
    * {
      padding: 10px;
    }
  }

  &--full-content {
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    padding: 10px 0 10px 0;

    * {
      padding: 5px 10px 5px 10px;
      display: flex;
      height: 33px;
      justify-content: center;
      align-items: center;
      align-self: end;
      @include mediaMaxW(1000px) {
        padding: 5px 0px 5px 0px;
      }
      &:hover:after {
        transform: translate(-1px, 1px);
      }
      &:hover:before {
        transform: translate(1px, -1px);
      }
    }
    &--mobile {
      display: none;
      @include mediaMaxW(580px) {
        display: flex;
        position: absolute;
        top: 0;
        right: 100%;
        padding-top: 0;
        z-index: 9999;
      }
      * {
        @include mediaMaxW(580px) {
          padding: 5px 10px 5px 10px;
          background-color: getColor(blueClr, $mainPalette);
        }
      }
    }
  }
}

.error {
  display: flex;
  position: absolute;
  top: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 104px;
  text-align: center;
  background-color: #333;
  color: #ccc;
  z-index: 1;
}
