@import "../globals";
@import "./buttons";
@import "./placeholders";
@import "./loaders";
@import "./content-results";

.logo {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  &__img {
    width: 85%;
    align-self: flex-start; // This is for ios safari, the height of image is not changing right for some reason https://stackoverflow.com/a/61196907
    max-width: 517px;
  }
}

.no-selected-content {
  color: peru;
}

.error {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  width: 100%;
  height: 70px;
  padding: 10px 0 10px 0;
  color: peru;
  overflow: hidden;
  background-color: #212121;
  opacity: 1;
  z-index: 1;
  animation: showPlaceholderNoResults 0.2s 0.25s forwards;
  font-size: 1.5rem;
  font-weight: bold;
}
