@import "../globals";
@import "./buttons";
@import "./placeholders";
@import "./loaders";
@import "./content-results";

.logo {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  &__img {
    width: 85%;
    align-self: flex-start; // This is for ios safari, the height of image is not changing right for some reason https://stackoverflow.com/a/61196907
    max-width: 517px;
  }
}

.no-selected-content {
  color: peru;
}

.error {
  display: flex;
  position: absolute;
  top: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 104px;
  text-align: center;
  background-color: #333;
  color: #ccc;
  z-index: 1;
}
