@import "../../../styles/globals";

.auth_form--password-update {
  width: 100%;
  padding-bottom: 0;

  .button--auth__form {
    margin: 5px 0 5px 0;
    border-radius: 0;
  }

  .auth__form-input--password {
    border-radius: 0;
  }

  .auth__form-input--error {
    box-shadow: 0px 0px 10px 1px rgb(226, 90, 90);
  }

  .password-update-success {
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    color: getColor(orangeClr, $mainPalette);
  }
}
