@import "../../../styles/globals";

.login-page {
  position: relative;
  width: 100%;
  height: 100vh;

  .auth--login-page {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 100px -5px #66b4e682;
    opacity: 1;
    animation: initial;
    z-index: 5;
  }
}
