@import "../../../styles/globals";

$activeItemColor: #0e5e92;
$itemHoverColor: #93cff521;
$lastMessageStatusSize: 17px;
$unreadMessagesBG: #206ea0;
$unreadMessagesBGActive: #fff;
$borderRightContactListClr: #25252561;
$chatHeight: 570px;

.contact-list {
  border-right: 1px solid $borderRightContactListClr;
  overflow-y: auto;
  @include scrollbar(5px, getColor(blueClr, $mainPalette), #c5bbb1);

  @include mediaMaxW(#{$mobileViewPort}) {
    position: absolute;
    height: $chatHeight;
    width: 100%;
    opacity: 1;
    transition: opacity 150ms ease, z-index 0ms 150ms;

    &--hide-mobile {
      opacity: 0;
      z-index: -1;
    }
  }
}

.contact-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  grid-auto-rows: 20px;
  align-items: center;
  row-gap: 6px;
  column-gap: 5px;
  padding: 10px;
  color: #fff;
  font-size: 0.95rem;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: $itemHoverColor;
    transition: 200ms;
    z-index: -1;
  }

  &:hover:after {
    opacity: 1;
  }

  &--no-message-status {
    grid-template-columns: 1fr max-content;
  }

  &--active {
    background-color: $activeItemColor;

    &:after {
      display: none;
    }
  }

  &__username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 23px;
  }

  &__last-message-status {
    background-image: url("../../../assets/images/icons/double-mark-sign.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: $lastMessageStatusSize;
    height: $lastMessageStatusSize;
    &--unread {
      background-image: url("../../../assets/images/icons/one-mark-sign.svg");
    }
  }

  &__pinned {
    grid-column-end: -1;
    justify-self: end;
    background-image: url("../../../assets/images/icons/pinned-icon.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: $lastMessageStatusSize - 3px;
    height: $lastMessageStatusSize - 3px;
  }

  &__timestamp {
    justify-self: end;
    align-self: center;
    font-size: 0.85rem;
  }

  &__unread-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-end: -1;
    justify-self: end;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $unreadMessagesBG;
    font-size: 0.85rem;

    &--active {
      @include mediaMinW(#{$mobileViewPort}) {
        color: $activeItemColor;
        background-color: $unreadMessagesBGActive;
      }
    }
  }

  &__last-message-text {
    white-space: nowrap;
    overflow: hidden;
    line-height: 23px;
    text-overflow: ellipsis;
    color: #c5c5c5;

    span {
      color: getColor(blueClr, $mainPalette);
    }
  }
}

.new-request {
  display: grid;
  row-gap: 5px;
  width: 100%;
  max-width: 400px;

  &__name {
    color: #66b4e6;
  }

  &__actions--receiver {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
  }
}
