@import "../../../styles/globals";

.chat-container {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 10px;
  height: 570px;
  max-width: 100%;
  width: 1000px;
  border: 2px solid peru;
}

.contact-list {
  display: grid;
  grid-auto-rows: max-content;
  border-right: 1px solid lightblue;
  overflow-y: scroll;
  @include scrollbar(5px, getColor(blueClr, $mainPalette), #c5bbb1);
}

.contact-item {
  position: relative;
  color: #fff;
  border-bottom: 1px solid getColor(orangeClr, $mainPalette);
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: #93cff5a8;
    transition: 200ms;
    z-index: -1;
  }

  &:hover:after {
    opacity: 1;
  }

  &--new-activity {
    background-color: #82b0dc14;
  }
  &--active {
    // background-color: getColor(blueClr, $mainPalette);
    background-color: #419dd96e;

    &:after {
      display: none;
    }
  }
  &__username {
  }
}

.chat-window-container {
  color: #fff;
  overflow-y: scroll;
  @include scrollbar(5px, getColor(blueClr, $mainPalette), #c5bbb1);
}
