.form-auth {
  display: flex;
  flex-direction: column;
  width: 90%;

  &__input {
    border: 1px solid #ececec;
    line-height: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s;

    &:focus {
      outline: none !important;
    }

    &--error {
      box-shadow: 0px 0px 5px 0px rgba(226, 90, 90, 0.75);
    }
  }

  &__label {
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 7px;
  }

  &__error {
    padding: 5px 5px 0 5px;
  }
}
