@import "../../styles/globalsContacts";

.contact-list {
  &-wrapper {
    position: relative;
    overflow-y: auto;
    border-right: 1px solid getColor(borderRight, $contactListPalette);
    @include scrollbar(5px, getColor(blueClr, $mainPalette), #c5bbb1);
    @include mediaMaxW(#{$mobileViewPort}) {
      position: absolute;
      height: $chatHeight;
      width: 100%;
      opacity: 1;
      transition: opacity 150ms ease, z-index 0ms 150ms;

      &--hide-mobile {
        opacity: 0;
        z-index: -1;
      }
    }
  }

  &--no-contacts {
    display: flex;
    justify-content: center;
    &-text {
      height: max-content;
      width: max-content;
      margin-top: 20px;
      color: #fff;
      padding: 5px 15px 5px 15px;
      border-radius: 14px;
      background-color: #206ea0;
    }
  }

  &__loader {
    display: block;
    align-self: center;
    margin-top: 20px;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-left-color: transparent;
    animation: contactListLoading 0.5s linear infinite;
    @keyframes contactListLoading {
      to {
        transform: rotate(360deg);
      }
    }

    &-wrapper {
      display: flex;
      justify-content: center;
    }
  }
}
