@import "../../../../styles/globals";

.selected-content__container {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 400px;
  max-height: calc(100vh - 100px);
  z-index: 1;
  @include mediaMaxW(500px) {
    right: 33px;
    width: 85%;
  }
}

.button--show-selected {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: peru;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.2s;
  z-index: 1;
  &:after {
    @include hoverBoxShadow(50%, 0.25s);
    box-shadow: 0px 0px 4px 1px getColor(btnSecondary, $btnPalette);
  }
  &:hover:after {
    opacity: 1;
  }
}

.selected-content__list {
  display: grid;
  grid-auto-rows: minmax(165px, max-content);
  grid-template-rows: max-content;
  grid-row-gap: 0px;
  background-color: #fff;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;
  opacity: 0;
  transform: translate(0, 20px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  @include mediaMaxW(850px) {
  }
  @include scrollbar(5px, getColor(btnSecondary, $btnPalette), #c5bbb1);
  animation: showSelectedContentList 0.35s forwards;
  @keyframes showSelectedContentList {
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.selected-content__clear {
  width: 100%;
  padding: 10px;
  overflow: hidden;
}

.selected-content__item {
  display: grid;
  grid-template-columns: 35% 65%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.247);
  margin: 10px;

  &-info {
    display: flex;
    flex-direction: column;
    padding: 0 5px 0 5px;
  }

  &-overview {
    margin: 3px 0 3px 0;
    font: {
      size: 0.9rem;
    }
  }

  &-poster {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center top;
  }
  &-title {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(36, 36, 36);
  }
  &-year {
    margin-top: 5px;
    font-size: 1.05rem;
    font-weight: 400;
  }
}
