@import "../../styles/globals";

.page-not-found {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  padding: 8px;
  color: getColor(orangeClr, $mainPalette);

  &__heading {
    text-align: center;
  }

  &__img {
    width: 100%;
    max-width: 338px;
  }

  &__link {
    &:hover {
      text-decoration: underline;
    }
  }
}
