@import '../../../styles/globals';

$seasonInfoBgClr: #1d1d1d96;

.to-watch-translate-up {
  transition-duration: var(--translateUpDuration);
  transition-timing-function: linear;
  transform: translateY(var(--translateUpValue));
}

.to-watch-fade-out {
  transform: scale(0.9) translateY(25px);
  opacity: 0;
  transition: opacity var(--fadeOutDuration) linear, transform 100ms linear;
  // transition-duration: opacity var(--fadeOutDuration), transform 100ms;
  // transition-timing-function: linear;
}

.towatch__show {
  display: flex;
  flex-direction: column;

  --dateMinWidth: 175px;
  --ratingMinWidth: 206px;

  will-change: transform, opacity;

  &-name {
    padding-bottom: 5px;
    font-size: 2.5rem;

    a {
      color: peru;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .episodes__episode-group {
    will-change: transform, opacity;
  }

  .episodes__episode-checkbox {
    margin-left: 6px;
  }

  .episodes {
    grid-auto-rows: minmax(35px, max-content);
  }

  .episodes__episode {
    --translateUpValue: -51px;

    height: 46px;
    will-change: transform, opacity;

    &:after {
      display: none;
    }

    // &--fade-out {
    //   opacity: 0;
    //   transition-duration: var(--fadeOutDuration);
    //   transition-timing-function: linear;
    // }
  }

  .episodes__episode-group-check-all-episodes {
    will-change: transform, opacity;
  }

  .episodes__episode-group-name {
    padding: 7px;
  }

  .episodes__episode-name {
    align-self: initial;
    padding-right: 0px;
  }

  .episodes__episode-date {
    padding-left: 10px;
    align-self: initial;
    @include mediaMaxW(#{$mobileViewPort}) {
      padding-left: 7px;
    }
  }

  .episodes__episode-group-info {
    height: initial;
  }

  .episodes__episode-group-date {
    padding: 7px 35px 7px 10px;
  }

  .episodes__episode-list {
    grid-column: 1 / 3;

    @include mediaMaxW(#{$mobileViewPort}) {
      grid-column: initial;
    }
  }

  .episodes__episode-wrapper {
    grid-template-columns: max-content var(--ratingMinWidth) minmax(var(--dateMinWidth), max-content) 1fr;
    background-color: $seasonInfoBgClr;
    align-items: center;
    cursor: initial;

    @include mediaMaxW(#{$mobileViewPort}) {
      grid-template-columns: max-content minmax(var(--ratingMinWidth), max-content);
      grid-template-rows: 1fr 1fr;
    }

    .user-rating {
      @include mediaMaxW(#{$mobileViewPort}) {
        grid-column: 2 / -1;
      }
    }

    &--torrent-links {
      grid-template-columns: max-content var(--ratingMinWidth) max-content 1fr 200px;
      @include mediaMaxW(#{$mobileViewPort}) {
        grid-template-columns: max-content minmax(var(--ratingMinWidth), max-content) 1fr;
      }
    }

    .torrent-links--to-watch-page {
      padding: 5px;

      @include mediaMaxW(550px) {
        grid-column: 1 / 4;
      }

      * {
        transition: 300ms;
        &:hover {
          opacity: 0.7;
        }

        &:after,
        &:before {
          display: none;
        }
      }
    }
  }
}
