@function getColor($colorName, $palette) {
  @return map-get($palette, $colorName);
}

$bodyBackgroundClr: #131313;
$mainContainerMaxWidth: 1350px;

$mobileViewPort: 1000px;

$mainPalette: (
  orangeClr: peru,
  blueClr: #66b4e6
);

$btnPalette: (
  textColor: #fff,
  bgColor: peru,
  pressedBgColor: #66b4e6,
  hoverEffectBgColor: #fff
);

$inputPalette: (
  textColor: #efefef,
  placeholderColor: #cececea6
);

$searchCardPalette: (
  backgroundColor: #212121,
  backgroundColorHover: #000000,
  separatorColor: #d0d0d0,
  titleColor: peru,
  titleColorHover: #ffffff,
  yearColor: #e0e0e0,
  countryColor: #e0e0e0,
  ratingColor: #e0e0e0,
  linkColor: #4ba9f9
);

@import "mixins";
