@function getColor($colorName, $palette) {
  @return map-get($palette, $colorName);
}

@function getDimm($value, $palette) {
  @return map-get($palette, $value);
}

$bodyBackgroundClr: #131313;
$mainContainerMaxWidth: 1350px;

$mobileViewPort: 1000px;

$newActivityClr: #ec4444;

$mainPalette: (
  orangeClr: peru,
  blueClr: #66b4e6,
);

$btnPalette: (
  textColor: #fff,
  bgColor: getColor(orangeClr, $mainPalette),
  pressedBgColor: #66b4e6,
  hoverEffectBgColor: #fff,
);

$inputPalette: (
  textColor: #efefef,
  placeholderColor: #cececea6,
);

$searchCardPalette: (
  backgroundColor: #212121,
  backgroundColorHover: #000000,
  separatorColor: #d0d0d0,
  titleColor: getColor(orangeClr, $mainPalette),
  titleColorHover: #ffffff,
  yearColor: #e0e0e0,
  countryColor: #e0e0e0,
  ratingColor: #e0e0e0,
  typeColor: getColor(orangeClr, $mainPalette),
  linkColor: #4ba9f9,
);

:root {
  --translateUpValue: -51px;
  --fadeOutDuration: 150ms;
  --translateUpDuration: 200ms;

  --nav-width: 340px;
}

@import 'mixins';
