@function getColor($colorName, $palette) {
  @return map-get($palette, $colorName);
}

$bodyBackgroundClr: #131313;
$mainContainerMaxWidth: 1350px;

$mobileViewPort: 800px;

$mainPalette: (
  orangeClr: peru,
  blueClr: #66b4e6
);

$btnPalette: (
  textColor: #fff,
  bgColor: peru,
  pressedBgColor: #66b4e6,
  hoverEffectBgColor: #fff
);

$inputPalette: (
  textColor: #efefef,
  placeholderColor: #cececea6
);

$movieListPalette: (
  backgroundColor: #fdfdfd,
  backgroundColorHover: #212121,
  separatorColor: #d0d0d0,
  titleColor: #000000,
  overviewColor: #1b1b1b,
  titleColorHover: #ffffff,
  overviewColorHover: #d6d6d6
);

@import "mixins";
