@mixin mediaMaxW($w) {
  @media (max-width: $w) {
    @content;
  }
}

@mixin mediaMinW($w) {
  @media (min-width: $w + 1px) {
    @content;
  }
}

@mixin scrollbar(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }
}

@mixin hoverBoxShadow($borderRadius, $transition) {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: $borderRadius;
  top: 0;
  left: 0;
  opacity: 0;
  transition: $transition;
}

@mixin buttonCross {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  animation: showBtnClearSearchInput 0.4s 0.25s forwards;
  @keyframes showBtnClearSearchInput {
    to {
      opacity: 1;
    }
  }

  &:hover:after,
  &:hover:before {
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    top: 50%;
    left: 0;
    border-radius: 5px;
    transform: translate(0, -50%) rotate(45deg);
    background-color: rgb(158, 158, 158);
  }
  &:before {
    transform: translate(0, -50%) rotate(-45deg);
  }

  &__withactors {
    opacity: 1;
    width: 30px;
    height: 30px;
    animation: initial;
  }
}
