@import "globals";

.button {
  position: relative;
  background-color: getColor(orangeClr, $mainPalette);
  line-height: 40px;
  letter-spacing: 1px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  margin-top: auto;
  cursor: pointer;
  outline: 0;
  font: {
    size: 1.3rem;
    weight: 600;
  }
  color: rgb(255, 255, 255);
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 0;
    transition: 0.3s;
    background-color: #fff;
    z-index: -1;
    @include mediaMaxW(1000px) {
      display: none;
    }
  }
  &:before {
    left: initial;
    right: 0;
    top: 0;
  }
  &:hover:after {
    transform: translate(-3px, 3px);
  }
  &:hover:before {
    transform: translate(3px, -3px);
  }
}

.button--pressed {
  background-color: getColor(blueClr, $mainPalette);
  transition: 0.5s;
  &:after,
  &:before {
    top: 0;
  }
  &:before {
    top: 50%;
  }
  &:hover:after {
    transform: translate(-3px, -3px);
  }
  &:hover:before {
    transform: translate(3px, 3px);
  }
}

.button--content-results {
  width: 80%;
  margin-top: auto;
  margin-bottom: 12px;
  align-self: center;
}

.button--advanced-search {
  position: relative;
  z-index: 1;
  &:after,
  &:before {
    display: none;
  }
}

.button--clear-movies,
.button--clear-selected-content,
.button--show-all-links {
  max-width: 200px;
  font-size: 1rem;
  background-color: getColor(blueClr, $mainPalette);
}

.button--clear-selected-content {
  max-width: initial;
  width: 100%;
}

.button--show-selected {
  position: absolute;
  right: -30px;
  bottom: -30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: peru;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  transition: 0.2s;
  z-index: 1;
  &:after {
    @include hoverBoxShadow(50%, 0.25s);
    box-shadow: 0px 0px 4px 1px getColor(blueClr, $mainPalette);
  }
  @include mediaMinW(1000px) {
    &:hover:after {
      opacity: 1;
    }
  }
}

.button--input-clear,
.button--del-content-results {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  animation: showBtnClearSearchInput 0.4s 0.25s forwards;
  @keyframes showBtnClearSearchInput {
    to {
      opacity: 1;
    }
  }

  &:hover:after,
  &:hover:before {
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    top: 50%;
    left: 0;
    border-radius: 5px;
    transform: translate(0, -50%) rotate(45deg);
    background-color: rgb(158, 158, 158);
  }
  &:before {
    transform: translate(0, -50%) rotate(-45deg);
  }

  &__withactors {
    opacity: 1;
    width: 30px;
    height: 30px;
    animation: initial;
  }
}

.button--del-content-results {
  top: 3px;
  right: 3px;
  transform: translate(0, 0);
  width: 20px;
  height: 20px;
  opacity: 1;
  animation: inherit;
  &:after,
  &:before {
    height: 5px;
  }
}

.button--search-adv {
  background-color: getColor(blueClr, $mainPalette);
}

.button--selected-content {
  margin-bottom: 5px;
  &:after,
  &:before {
    background-color: getColor(blueClr, $mainPalette);
  }
}

.button--show-links {
  width: 100%;
  height: 100%;
  font-size: 1.35rem;
  margin: 0;
}

.select-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  select {
    padding-left: 5px;
    line-height: 23px;
    height: 40px;
    margin-top: 3px;
    border: 0;
    border-right: 1px solid #fff;
    cursor: pointer;
    outline: none;
    overflow-y: auto;
    color: #fff;
    font-size: 1.1rem;
    padding-left: 15px;
    background-color: #66b4e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat, repeat;
    background-position: right 0.4em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }
}

.select-input-container select::-webkit-scrollbar {
  background-color: red;
}

.placeholder {
  display: flex;
  position: absolute;
  top: 50px;
  height: 152px;
  width: 100%;
  padding: 10px 0 10px 0;
  overflow: hidden;
  background-color: getColor(backgroundColor, $movieListPalette);
  opacity: 0;
  animation: showPlaceholder 0.2s forwards;
  z-index: 1;
  @keyframes showPlaceholder {
    to {
      opacity: 1;
    }
  }

  &__image {
    position: relative;
    width: 30%;
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      border-bottom: 3px solid rgb(121, 121, 121);
      transform: translate(-50%, -50%);
      animation-name: loadingPoster;
      animation-duration: 0.7s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      @keyframes loadingPoster {
        from {
          transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    > * {
      position: relative;
      width: 80%;
      height: 50px;
      border-radius: 50px;
      background-color: rgb(218, 218, 218);
      overflow: hidden;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: rgb(163, 163, 163);
        transform: translate(0, -6px);
        animation: loadingInfo 1s infinite linear;

        @keyframes loadingInfo {
          from {
            transform: translate(0, -6px);
          }
          to {
            transform: translate(0, 50px);
          }
        }
      }
    }
  }
  &__line-two {
    margin-top: 5px;
  }
}

.placeholder--no-results {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 105px;
  padding: 10px 0 10px 0;
  overflow: hidden;
  background-color: getColor(backgroundColor, $movieListPalette);
  opacity: 1;
  animation: showPlaceholderNoResults 0.2s 0.25s forwards;
  @keyframes showPlaceholderNoResults {
    to {
      opacity: 1;
    }
  }
  font: {
    size: 2rem;
    weight: bold;
  }
  color: rgb(0, 0, 0);

  &-actors {
    position: absolute;
  }
}

.placeholder--no-results__adv-movies {
  background-color: transparent;
  color: #fff;
}

.full-detailes--placeholder {
  opacity: 0;
  animation: showFullDetails forwards;
  @keyframes showFullDetails {
    to {
      opacity: 1;
    }
  }
}

.full-detailes__poster--placeholder {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-detailes__info-row--placeholder {
  position: relative;
}

.loader {
  position: relative;
  opacity: 0;
  animation: show 0.4s 0.4s forwards;
  @keyframes show {
    to {
      opacity: 1;
    }
  }
  &-dots {
    position: relative;
    display: flex;
    justify-content: center;

    div {
      margin: 0 8px 0 8px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: rgb(49, 46, 43);
      animation: loader 0.5s infinite alternate;
      @keyframes loader {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.2);
        }
      }
      &:nth-child(2) {
        animation-delay: 0.15s;
      }
      &:nth-child(3) {
        animation-delay: 0.225s;
      }
    }
  }
  &-shadow {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    div {
      margin: 0 8px 0 8px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transform: scale(0.7);
      animation: shadowAnim 0.5s infinite alternate;
      box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.651);
      @keyframes shadowAnim {
        from {
          transform: scale(0.7);
        }
        to {
          transform: scale(1);
        }
      }

      &:nth-child(2) {
        animation-delay: 0.15s;
      }
      &:nth-child(3) {
        animation-delay: 0.225s;
      }
    }
  }
}

.loader--new-page {
  margin-top: 50px;
  .loader-dots {
    div {
      background-color: #fff;
    }
  }
  .loader-shadow {
    div {
      box-shadow: 0px 0px 15px 3px rgb(238, 54, 106);
    }
  }
}

.loader--search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 140px;
  margin: 0;
  background-color: #fff;
  animation-delay: 0.4s;

  .loader-shadow {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.loader--input,
.loader--adv-results,
.loader--show-links,
.loader--full-info {
  position: absolute;
  top: 16px;
  right: 60px;
  margin: 0;
  .loader-dots {
    div {
      margin: 0 3px 0 3px;
      width: 15px;
      height: 15px;
      background-color: #fff;
    }
  }
  .loader-shadow {
    div {
      margin: 0 3px 0 3px;
      width: 15px;
      height: 15px;
      box-shadow: 0px 0px 15px 3px rgb(238, 54, 106);
    }
  }
}

.loader--full-info {
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  right: inherit;
  .loader-shadow {
    div {
      width: 20px;
      height: 20px;
    }
  }
  .loader-dots {
    div {
      width: 20px;
      height: 20px;
    }
  }
}

.loader--full-info-poster {
  .loader-dots {
    div {
      background-color: #fff;
    }
  }
  .loader-shadow {
    div {
      box-shadow: 0px 0px 15px 3px rgb(238, 54, 106);
    }
  }
}

.loader--show-links {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-delay: 0.15s;
  .loader-dots,
  .loader-shadow {
    div {
      width: 25px;
      height: 25px;
    }
  }
}

.loader--adv-results {
  position: absolute;
  right: 11px;
  top: 14px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 45px;
  &__img {
    width: 85%;
  }
}

.logo--footer {
  margin: 0;

  .logo__img {
    max-width: 400px;
  }
}

.no-selected-content {
  color: peru;
}

.error {
  display: flex;
  position: absolute;
  top: 50px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 104px;
  text-align: center;
  background-color: #333;
  color: #ccc;
  z-index: 1;
}
