@import "../../../styles/globals";

.user-profile {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  column-gap: 5px;
  row-gap: 15px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 35px;
  color: #fff;
  text-align: center;
  font: {
    weight: 400;
    size: 1.5rem;
  }

  &--own-profile {
    font-size: 1.7rem;
  }

  @include mediaMaxW(#{$mobileViewPort}) {
    padding: 0 8px 0 8px;

    .button {
      font-size: 1.2rem;
    }
  }

  &__username {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    @include mediaMaxW(#{$mobileViewPort}) {
      font: {
        size: 1.2rem;
      }
    }
  }

  &__actions {
    &--sender {
      div {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: getColor(bgColor, $btnPalette);
        line-height: 40px;
        height: 40px;
        letter-spacing: 1px;
        width: 100%;
        padding: 0;
        margin: 0;
        border: 0;
        margin-top: auto;
        font: {
          size: 1.3rem;
          weight: 600;
        }
        color: getColor(textColor, $btnPalette);
      }
    }

    // &--receiver {
    //   display: grid;
    //   grid-template-columns: 1fr 1fr;
    //   column-gap: 5px;
    // }
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    right: initial;
    transform: translate(-50%, -50%);
  }
}
