@import "../../styles/globalsContacts";

.chat-window-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #fff;
  overflow: hidden;
  background-color: getColor(backG, $chatWindowPalette);

  &--no-active-chat {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMaxW(#{$mobileViewPort}) {
      display: none;
    }

    .chat-window {
      padding: 5px 15px 5px 15px;
      border-radius: 14px;
      background-color: getColor(placeholderBg, $chatWindowPalette);
    }
  }
}

.chat-window {
  &__date {
    padding: 5px 15px 5px 15px;
    margin: 15px auto 0px auto;
    max-width: max-content;
    font-size: 0.9rem;
    border-radius: 14px;
    background-color: getColor(dateBG, $chatWindowPalette);

    &--top {
      margin: 0px auto 0px auto;
    }
  }

  &--request {
    display: flex;
    justify-content: center;
    text-align: center;

    .new-request {
      row-gap: 10px;
      margin-top: 30px;
      font-size: 1.2rem;
    }
  }

  &__loader {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 4px solid #fff;
    border-left-color: transparent;
    animation: chatWindowLoading 0.5s linear infinite;
    @keyframes chatWindowLoading {
      to {
        transform: rotate(360deg);
      }
    }

    &-container {
      display: flex;
      width: 27px;
      height: 27px;
      align-self: center;
      margin: 20px auto auto auto;
      opacity: 0;
      animation: chatWindowLoaderContainerShow 0s 400ms forwards;
      @keyframes chatWindowLoaderContainerShow {
        to {
          opacity: 1;
        }
      }
    }
  }

  &__close-chat {
    display: none;
    width: 50px;
    height: 35px;
    margin-top: 25px;
    background-color: peru;

    @include mediaMaxW(#{$mobileViewPort}) {
      display: initial;
    }
  }

  &__no-messages {
    margin: 20px auto auto auto;
    max-width: max-content;
    text-align: center;
    padding: 5px 15px 5px 15px;
    border-radius: 14px;
    background-color: #206ea0;

    span {
      color: #ff9024;
    }
  }

  &__messages-list {
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 5px;
    row-gap: 5px;

    &-container {
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 10px;
      @include scrollbar(5px, getColor(blueClr, $mainPalette), #c5bbb1);
    }
  }

  &__message {
    display: flex;
    column-gap: 10px;
    max-width: getDimm(messageMaxWidth, $chatWindowDimm);
    border-radius: 5px;
    padding: 10px;
    color: getColor(messageText, $chatWindowPalette);
    font-size: 0.95rem;

    @include mediaMaxW(#{$mobileViewPort}) {
      flex-direction: column;
      max-width: getDimm(messageMaxWidthMobile, $chatWindowDimm);
    }

    &:hover .chat-window__message-options .chat-window__open-popup-btn {
      opacity: 1;
    }

    &--send {
      justify-self: end;
      background-color: getColor(messageSentBG, $chatWindowPalette);

      &.chat-window__message--last-in-bunch {
        border-radius: 5px 5px 0px 5px;
        &:before {
          right: -10px;
          background-color: getColor(messageSentBG, $chatWindowPalette);
        }
        &:after {
          right: -10px;
          background-color: getColor(backG, $chatWindowPalette);
          border-radius: 0 0 0 10px;
        }
      }
    }

    &--receive {
      background-color: getColor(messageReceivedBG, $chatWindowPalette);

      &.chat-window__message--last-in-bunch {
        border-radius: 5px 5px 5px 0px;
        &:before {
          left: -10px;
          background-color: getColor(messageReceivedBG, $chatWindowPalette);
        }
        &:after {
          left: -10px;
          background-color: getColor(backG, $chatWindowPalette);
          border-radius: 0 0 10px 0;
        }
      }
    }

    &--last-in-bunch {
      position: relative;

      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 20px;
        bottom: 0;
      }
    }

    &-text {
      margin-right: auto;
    }
  }
}

.chat-window__contact-info {
  display: grid;
  height: 54px;
  grid-template-columns: 50px 1fr 30px;
  grid-template-rows: 22px 22px;
  column-gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  grid-auto-rows: auto;
  align-items: center;
  font-size: getDimm(contactInfoFont, $chatWindowDimm);
  background-color: #083b5f;
  z-index: 100;

  .contact-item__options {
    .contact-item__open-popup-btn {
      opacity: 1;
    }
  }

  .contact-info__close-chat {
    position: relative;
    grid-row: span 2;
    justify-self: center;
    width: 33px;
    height: 33px;

    &--new-activity {
      @include mediaMaxW(#{$mobileViewPort}) {
        border-radius: 50%;
        background-color: #3c9fff;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #ffffff21;
      opacity: 0;
      transition: 100ms;
      z-index: -1;
    }

    &:hover:after {
      opacity: 1;
    }

    &-btn {
      @include buttonRemoveDefaults;
      background-image: url("../../../../../assets/images/icons/back-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .contact-info__options {
    grid-row: span 2;
    justify-self: center;
  }

  .contact-info__status {
    color: #12c720;
  }
}

.chat-window__dummy {
  position: absolute;
  bottom: 0px;
}
