@import "../../../../../styles/globals";

$nonActiveChatTextBG: #206ea0;
$chatHeight: 570px;
$borderRightContactListClr: #25252561;

$chatContainerBG: $bodyBackgroundClr;

$messageSentBG: #2b5278;
$messageReceivedBG: #182533;
$messageColor: #fff;

.chat-window-container {
  color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $chatContainerBG;
  @include scrollbar(5px, getColor(blueClr, $mainPalette), #c5bbb1);

  &--no-active-chat {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mediaMaxW(#{$mobileViewPort}) {
      display: none;
    }

    .chat-window {
      padding: 5px 15px 5px 15px;
      border-radius: 14px;
      background-color: $nonActiveChatTextBG;
    }
  }
}

.chat-window {
  &--request {
    display: flex;
    justify-content: center;
    text-align: center;

    .new-request {
      row-gap: 10px;
      margin-top: 30px;
      font-size: 1.2rem;
    }
  }

  &__close-chat {
    display: none;
    width: 50px;
    height: 35px;
    margin-top: 25px;
    background-color: peru;

    @include mediaMaxW(#{$mobileViewPort}) {
      display: initial;
    }
  }

  &__messages-list {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 5px;
    row-gap: 5px;
    padding: 10px;
  }

  &__message {
    display: grid;
    grid-template-columns: 1fr 73px;
    column-gap: 10px;
    max-width: 70%;
    border-radius: 5px;
    padding: 10px;
    color: $messageColor;
    font-size: 0.95rem;

    @include mediaMaxW(#{$mobileViewPort}) {
      grid-template-columns: 1fr;
    }

    &:hover .chat-window__message-options .chat-window__open-popup-btn {
      opacity: 1;
    }

    &--send {
      justify-self: end;
      background-color: $messageSentBG;

      &.chat-window__message--last-in-bunch {
        border-radius: 5px 5px 0px 5px;
        &:before {
          right: -10px;
          background-color: $messageSentBG;
        }
        &:after {
          right: -10px;
          background-color: $chatContainerBG;
          border-radius: 0 0 0 10px;
        }
      }
    }

    &--receive {
      background-color: $messageReceivedBG;

      &.chat-window__message--last-in-bunch {
        border-radius: 5px 5px 5px 0px;
        &:before {
          left: -10px;
          background-color: $messageReceivedBG;
        }
        &:after {
          left: -10px;
          background-color: $chatContainerBG;
          border-radius: 0 0 10px 0;
        }
      }
    }

    &--last-in-bunch {
      position: relative;

      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 20px;
        bottom: 0;
      }
    }
  }
}

.chat-window__contact-info {
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: 50px 1fr 30px;
  grid-template-rows: 22px 22px;
  column-gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  grid-auto-rows: auto;
  align-items: center;
  background-color: #083b5f;
  z-index: 9999;

  .contact-item__options {
    .contact-item__open-popup-btn {
      opacity: 1;
    }
  }

  .contact-info__close-chat {
    position: relative;
    grid-row: span 2;
    justify-self: center;
    width: 33px;
    height: 33px;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #ffffff21;
      opacity: 0;
      transition: 100ms;
      z-index: -1;
    }

    &:hover:after {
      opacity: 1;
    }

    &-btn {
      @include buttonRemoveDefaults;
      background-image: url("../../../../../assets/images/icons/back-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .contact-info__options {
    grid-row: span 2;
    justify-self: center;
  }

  .contact-info__username {
    font-size: 0.95rem;
  }

  .contact-info__status {
    font-size: 0.95rem;
    color: #12c720;
  }
}
