@import "./GenreInputs/GenreInputs.scss";
@import "./DatesInputs/DatesInputs.scss";
@import "./VotesRatingSortType/VotesRatingSortType.scss";
@import "./WithActorsInput/WithActorsInput.scss";

.advanced-search__cont {
  width: 100%;
  z-index: 0;
  .loader--small-pink {
    position: absolute;
    right: 11px;
    top: 14px;
    @include mediaMaxW(#{$mobileViewPort}) {
      right: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 50%;
      animation-delay: 0s;
    }
  }
  .button--adv-search-form {
    position: relative;
    z-index: 1;
    &:after,
    &:before {
      display: none;
    }
  }
}

.inputs__cont {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 1s;
  animation: showAdvSearch 0.4s forwards;
  color: #fff;
  @keyframes showAdvSearch {
    to {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }
}

.inputs__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5px;

  button {
    width: 100%;
  }

  &--search {
    position: relative;
    .button {
      background-color: getColor(blueClr, $mainPalette);
    }
    .button--loading {
      @include mediaMaxW(#{$mobileViewPort}) {
        font-size: 0;
      }
    }
  }
}
