@import "../../styles/globals";

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  &__list {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    color: #fff;

    a {
      color: #fff;
    }
  }

  &__item {
    position: relative;
    width: 152px;
    padding: 26px 16px 26px 16px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.3rem;
    z-index: 1;
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      transform: translate(5%, 0);
      height: 3px;
      border-radius: 5px;
      background-color: getColor(blueClr, $mainPalette);
      transition: 0.2s;
      opacity: 0;
    }
    &:before {
      top: initial;
      bottom: 0;
    }
    &:hover:after,
    &:hover:before {
      opacity: 1;
    }
    @include mediaMaxW(1000px) {
      width: 102px;
      padding: 14px 5px 14px 5px;
      font-size: 1rem;
    }

    &--active li {
      &:after,
      &:before {
        background-color: peru;
        opacity: 1;
      }
    }
  }
}

.nav__hover-line {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 152px;
  transition: 0s;
  transform-origin: bottom left;
  opacity: 1;
  transform: translate(0, 0);
  z-index: 0;
  @include mediaMaxW(1000px) {
    display: none;
    width: 102px;
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: peru;
    opacity: 1;
  }
  &:before {
    top: initial;
    bottom: 0;
  }
}

.nav__item--login {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
}

.nav__login-auth-container {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(0, -10px);
  opacity: 0;
  z-index: 10;
  animation: showAuthContainer 0.35s forwards;
  @keyframes showAuthContainer {
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}

.nav__login-auth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px;
}

.nav__login--sign {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #1f1f1f;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    opacity: 0;
    transition: 0.2s;
  }

  &:hover:after {
    opacity: 1;
    background-color: getColor(blueClr, $mainPalette);
  }
}

.sign--active {
  &:after {
    opacity: 1;
    background-color: getColor(orangeClr, $mainPalette);
  }
  &:hover:after {
    background-color: getColor(orangeClr, $mainPalette);
  }
}

.nav__login-button {
  user-select: none;
}

.nav__login-form {
  display: flex;
  justify-content: center;
}
