@import "../../../styles/globals";

$seasonInfoBgClr: #1d1d1d96;
$seasonInfoBgClrHover: #252525;

$colors: (
  title: getColor(orangeClr, $mainPalette),
  infoValue: #fff,
  infoOption: #ffffffb3,
  description: #dedede,
  seasonInfo: #fff,
  similarContentTitle: #dedede
);

$font-sizes: (
  title: 2.5rem,
  infoValue: 1.3rem,
  infoOption: 1.2rem,
  movieLinks: 1.3rem,
  description: 1rem,
  seasonInfo: 1.3rem,
  episodeInfo: 1rem
);
