.inputs__other {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1.8fr 1fr;
  // grid-template-columns: repeat(4, 1fr);
  margin-top: 8px;

  div {
    display: flex;
    justify-content: center;
  }
}

.inputs__media-type {
  select {
    border: 0;
  }
}
