@import "../globals";

$seasonInfoBgClr: #1d1d1d96;
$seasonInfoBgClrHover: #252525;

$colors: (
  title: getColor(orangeClr, $mainPalette),
  infoValue: #fff,
  infoOption: #ffffffb3,
  description: #dedede,
  seasonInfo: #fff,
  similarContentTitle: #dedede
);

$font-sizes: (
  title: 2.5rem,
  infoValue: 1.3rem,
  infoOption: 1.2rem,
  movieLinks: 1.3rem,
  description: 1rem,
  seasonInfo: 1.3rem,
  episodeInfo: 1rem
);

.episodes {
  display: grid;
  grid-column: 1 / 3;
  grid-template-columns: 1fr;
  row-gap: 10px;
  grid-auto-rows: minmax(50px, max-content);
  @include mediaMaxW(#{$mobileViewPort}) {
    grid-column: inherit;
  }

  // &--calendar {
  //   row-gap: 0px;
  // }

  &--to-watch-page {
    grid-auto-rows: minmax(35px, max-content);
  }

  &__check-all-episodes {
    grid-column: 1 / 2;
    margin-bottom: -30px;
  }

  &__episode-group {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 30px;
    row-gap: 10px;
    @include mediaMaxW(#{$mobileViewPort}) {
      grid-template-columns: 1fr;
    }

    &:last-child {
      border-bottom: none;
    }

    // &--calendar {
    //   row-gap: 0px;
    // }

    &-poster {
      background-position: center top;
      background-repeat: no-repeat;
      background-size: cover;
      height: 364px;
      border-radius: 5px;
      @include mediaMaxW(#{$mobileViewPort}) {
        display: none;
      }
    }

    &--no-poster {
      grid-template-columns: 1fr;
      column-gap: 0px;
    }

    &-info {
      position: relative;
      display: grid;
      grid-template-columns: minmax(125px, 0.8fr) 3fr 1fr;
      align-items: center;
      grid-column: 1 / 3;
      background-color: $seasonInfoBgClr;
      font-size: map-get($font-sizes, seasonInfo);
      color: map-get($colors, seasonInfo);
      cursor: pointer;
      @include mediaMaxW(#{$mobileViewPort}) {
        grid-column: inherit;
      }

      &--open {
        &:after {
          transform: scale(-1);
        }
        &:before {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        position: absolute;
        right: 10px;
        top: 18px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0 6px;
        border-color: #ffffff transparent transparent transparent;
        z-index: -1;
      }
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $seasonInfoBgClrHover;
        opacity: 0;
        transition: 0.2s;
        z-index: -1;
      }

      &:hover:before {
        opacity: 1;
      }

      // &--calendar {
      //   display: grid;
      //   grid-template-columns: 0.8fr 3fr;
      //   background-color: transparent;
      //   border-bottom: 1px solid #333;
      //   align-items: initial;

      //   &:after {
      //     top: 30px;
      //   }
      // }
    }

    &-name {
      padding: 10px;

      &--to-watch-page {
        padding: 7px;
      }

      // &--calendar {
      //   font-size: 1.8rem;
      //   letter-spacing: 1px;

      //   span {
      //     font-size: 0.9rem;
      //     padding-left: 10px;
      //   }
      // }
    }

    &-episodes-left {
      font-size: 0.9rem;

      // &--calendar {
      //   display: flex;
      //   align-items: flex-end;
      //   padding: 10px;
      // }
    }

    &-days-to-air {
      padding-left: 50px;
    }

    &-date {
      justify-self: end;
      grid-column: 3 / 4;
      padding: 10px 35px 10px 10px;

      &--to-watch-page {
        padding: 7px 35px 7px 10px;
      }
    }

    .loader--small-pink {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transform: translate(0, -50%);
      animation-delay: 0.25s;
      .loader-shadow {
        top: 50%;
        transform: translate(-50%, -50%);
        div {
          @include mediaMaxW(#{$mobileViewPort}) {
            width: 18px;
            height: 18px;
          }
        }
      }
      .loader-dots {
        div {
          @include mediaMaxW(#{$mobileViewPort}) {
            width: 18px;
            height: 18px;
          }
        }
      }
    }

    &-check-all-episodes {
      margin-top: 10px;
      @include mediaMaxW(#{$mobileViewPort}) {
        margin-top: 0px;
      }

      &--to-watch-page {
        margin-top: 0;
      }
    }
  }

  &__episode-list {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 5px;

    &--to-watch-page {
      grid-column: 1 / 3;

      @include mediaMaxW(#{$mobileViewPort}) {
        grid-column: initial;
      }
    }
  }

  &__episode {
    position: relative;
    font-size: map-get($font-sizes, episodeInfo);
    color: map-get($colors, seasonInfo);

    &:after {
      content: "";
      position: absolute;
      right: 10px;
      top: 18px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 8px 6px 0 6px;
      border-color: #ffffff transparent transparent transparent;
      z-index: -1;
    }

    &--to-watch-page {
      &:after {
        display: none;
      }
    }

    &--open {
      &:after {
        transform: scale(-1);
      }
      &:before {
        opacity: 1;
      }
    }
    @include mediaMaxW(#{$mobileViewPort}) {
      grid-column-gap: 5px;
      grid-template-columns: 7fr 7fr 6fr;
    }
    @include mediaMaxW(#{$mobileViewPort}) {
      font-size: 0.9rem;
    }

    &-wrapper {
      position: relative;
      display: grid;
      grid-column: 1 / 4;
      column-gap: 8px;
      grid-template-columns: minmax(100px, 1.35fr) 3fr 0.8fr;
      grid-template-rows: minmax(34px, max-content);
      padding: 3px 0 3px 0;
      background-color: $seasonInfoBgClr;
      cursor: pointer;
      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $seasonInfoBgClrHover;
        opacity: 0;
        transition: 0.2s;
        z-index: -1;
      }

      &:hover:before {
        opacity: 1;
      }

      &--to-watch-page {
        grid-template-columns: minmax(100px, 1.35fr) 3fr 1.1fr;
        cursor: initial;
      }
    }

    &-date {
      padding-left: 33px;
      align-self: center;
    }

    &-name {
      align-self: center;
    }

    &-number {
      padding-right: 7px;
    }

    &-days-to-air {
      align-self: center;
      justify-self: end;
      padding-right: 30px;
      @include mediaMaxW(#{$mobileViewPort}) {
        text-align: center;
      }
    }

    &-checkbox {
      position: absolute;
      top: 10px;
      left: 5px;
      height: 20px;
      width: 20px;

      input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }

      .custom-checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #eee;
        cursor: pointer;

        &:after {
          content: "";
          position: absolute;
          display: none;
          left: 8px;
          top: 3px;
          width: 6px;
          height: 11px;
          border: solid white;
          border-width: 0 3px 3px 0;
          transform: rotate(45deg);
        }

        &--disabled {
          background-color: #2f2f2f;
        }
      }

      &:hover .custom-checkmark {
        background-color: #9bc5e0;
      }

      &:hover .custom-checkmark--disabled {
        background-color: #2f2f2f;
      }

      input:checked ~ .custom-checkmark {
        background-color: getColor(blueClr, $mainPalette);

        &:after {
          display: block;
        }
      }

      .buttons__col-warning {
        width: 186px;
        top: calc(100% + 8px);
        left: -83px;
        color: #000;
        z-index: 9999;

        @include mediaMaxW(#{$mobileViewPort}) {
          left: -5px;

          &:after {
            left: 15px;
          }
        }
      }
    }

    &-detailes {
      display: grid;
      grid-template-columns: 11fr 39fr;
      column-gap: 10px;
      grid-column: 1 / 4;

      &--no-image {
        grid-template-columns: 1fr;
      }

      &-image {
        grid-row: 1 / 3;
        min-height: 90px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 5px;
        margin: 10px 0 10px 0;
      }

      &-overview {
        padding: 10px 0 10px 0;
      }
    }
  }

  .fade-out-episode {
    animation: fadeOutEpisode 500ms forwards;
    @keyframes fadeOutEpisode {
      to {
        opacity: 0;
      }
    }
  }

  .move-up-episode {
    --moveUpDistance: -45px;
    transform: translateY(var(--moveUpDistance));
    transition: 500ms;
    transition-delay: 500ms;
    // animation: moveUpEpisode 500ms 500ms forwards;
    // @keyframes moveUpEpisode {
    //   to {
    //     transform: translateY(-45px);
    //   }
    // }
  }
}
