@import "../../../../styles/globalsContacts";

.chat-window__contact-info {
  display: grid;
  height: var(--contactInfoHeight);
  grid-template-columns: 50px 1fr 30px;
  grid-template-rows: 22px 22px;
  column-gap: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  grid-auto-rows: auto;
  align-items: center;
  font-size: getDimm(contactInfoFont, $chatWindowDimm);
  background-color: #083b5f;
  z-index: 30;

  &--group-chat {
    cursor: pointer;
  }

  .contact-item__options {
    margin-right: 5px;
    .contact-item__open-popup-btn {
      opacity: 1;
    }
  }

  .contact-info__close-chat {
    position: relative;
    grid-row: span 2;
    justify-self: center;
    width: 33px;
    height: 33px;

    &--new-activity {
      @include mediaMaxW(#{$mobileViewPort}) {
        border-radius: 50%;
        background-color: #3c9fff;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #ffffff21;
      opacity: 0;
      transition: 100ms;
      z-index: -1;
    }

    &:hover:after {
      opacity: 1;
    }

    &-btn {
      @include buttonRemoveDefaults;
      background-image: url("../../../../../../../assets/images/icons/back-arrow.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  .contact-info__options {
    grid-row: span 2;
    justify-self: center;
  }

  .contact-info__status {
    display: flex;
    column-gap: 3px;
    color: $typingColor;
  }
}
