@import "../../../../../../styles/globals";

.inputs__other {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1.8fr 1fr;
  margin-top: 8px;
  @include mediaMaxW(#{$mobileViewPort}) {
    grid-template-columns: 1fr 1fr;
  }

  div {
    display: flex;
    justify-content: center;
  }
}

.inputs__media-type {
  select {
    border: 0;
  }
}

.inputs__vote-count {
  @include mediaMaxW(#{$mobileViewPort}) {
    select {
      border: 0;
    }
  }
}
