@import "./styles/globals";
@import "./styles/global-layout/global-layout.scss";

body {
  font-family: "Open Sans", sans-serif;
  background-color: $bodyBackgroundClr;
  @include scrollbar(5px, getColor(blueClr, $mainPalette), #c5bbb1);
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  max-width: $mainContainerMaxWidth;
  margin: auto;
}

.scroll-to {
  position: fixed;
  width: 35px;
  height: 100vh;
  top: 0;
  left: 0;
  @include mediaMaxW(#{$mobileViewPort}) {
    display: none;
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    bottom: 170px;
    left: 14px;
    width: 22px;
    height: 4px;
    border-radius: 10px;
    transform: rotate(45deg);
    background-color: #797979;
    transition: 0.2s;
  }
  &:before {
    transform: rotate(-45deg);
    left: 0px;
  }

  &--prev {
    &:after {
      transform: rotate(-45deg);
    }
    &:before {
      transform: rotate(45deg);
    }
  }

  &:hover:after,
  &:hover:before {
    background-color: #929292;
  }

  button {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    background-color: #35353554;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background-color: #353535ad;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
