@import "./GenreInputs/GenreInputs.scss";
@import "./DatesInputs/DatesInputs.scss";
@import "./VotesRatingSortType/VotesRatingSortType.scss";
@import "./WithActorsInput/WithActorsInput.scss";

.advanced-search__cont {
  width: 100%;
  z-index: 0;
}

.inputs__cont {
  display: flex;
  flex-direction: column;
}

.form__wrapper {
  opacity: 0;
  transform: translate(0, -40px);
  transition: 1s;
  animation: showAdvSearch 0.4s forwards;
  color: #fff;
  // z-index: 0;
  @keyframes showAdvSearch {
    to {
      transform: translate(0, 0px);
      opacity: 1;
    }
  }
}

.inputs__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5px;

  button {
    width: 100%;
  }

  &--search {
    position: relative;
  }
}
