@import "./GenreInputs/GenreInputs.scss";
@import "./DatesInputs/DatesInputs.scss";
@import "./VotesRatingSort/VotesRatingSort.scss";
@import "./WithActorsInput/WithActorsInput.scss";
@import "../../../../styles/globals";

.advanced-search__cont {
  width: 100%;
}

.inputs__cont {
  display: flex;
  flex-direction: column;
}

.inputs__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 5px;

  button {
    width: 100%;
  }
}
