@import "../../../../styles/globals";

.search-list {
  display: flex;
  position: absolute;
  top: 50px;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: getColor(backgroundColor, $movieListPalette);
  z-index: 1;

  &--searching {
    min-height: 100vh;
  }
}

.search-card {
  $parentRef: &;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: getColor(backgroundColor, $movieListPalette);
  transition: 0.2s;

  @mixin cardHovered {
    #{$parentRef}:hover & {
      @content;
    }
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background-color: getColor(separatorColor, $movieListPalette);
  }
  &:last-child:after {
    display: none;
  }
  @include mediaMinW(1000px) {
    &:hover {
      background-color: getColor(backgroundColorHover, $movieListPalette);
    }
  }

  &--person {
    cursor: inherit;
  }

  &__buttons {
    align-self: end;
  }

  &__image {
    min-width: 100px;
    height: 132px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;

    &--person {
      grid-row: 1 / 3;
    }

    &-link {
      grid-row: 1 / 3;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &-title {
      margin-bottom: 5px;
      transition: 0.2s;
      @include mediaMinW(1000px) {
        @include cardHovered {
          color: getColor(titleColorHover, $movieListPalette);
        }
      }
      font: {
        size: 1.3rem;
        weight: 600;
      }
      color: getColor(titleColor, $movieListPalette);
    }
    &-description {
      margin-bottom: 5px;
      transition: 0.2s;
      color: getColor(overviewColor, $movieListPalette);
      @include mediaMinW(1000px) {
        @include cardHovered {
          color: getColor(overviewColorHover, $movieListPalette);
        }
      }
    }
    &__buttons {
      &--person {
        grid-template-columns: 50%;
        justify-content: center;
      }
      @include mediaMaxW(450px) {
        grid-template-columns: 1fr;
      }
    }
    &-person-movies {
      margin-top: 4px;
    }
  }
}

.search-card__add-movie {
  padding: 5px;
  margin-top: auto;
}
